version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: prueba_engaged
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: engaged_db
    ports: 
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
volumes:
  postgres_data: